.react-mapbox-ac-menu {
  width: auto;
  position: absolute;
  z-index: 9999;
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: .5rem;
  cursor: pointer;
}

.react-mapbox-ac-suggestion:hover {
  background-color: #58a;
}
